version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    env_file:
      - .env

  web:
    build: .
    container_name: fastapi
    environment:
      SERVICE: web
      PORT: 8000
    ports:
      - "8000:8000"
    depends_on:
      - redis
    volumes:
      - .:/app
    env_file:
      - .env

  worker:
    build: .
    container_name: celery-worker
    environment:
      SERVICE: worker
      CELERY_CONCURRENCY: 2
    depends_on:
      - redis
    volumes:
      - .:/app
    env_file:
      - .env
